*{
    margin: 0;
    padding:0;
    box-sizing:border-box ;
}
#slider{
    width: 100%;
    height: 448px;
    background-image: url('/assets/img/slider/background.png');
    background-repeat:repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
#slider .slider_content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider .slider_img{
    display: none;
}
#slider .slider_content button{
    position: relative;
    background-color: #fff;
    width: 50px;
    height: 50px;
}
#slider .slider_content .svg1{
    color:#999492;
    cursor: pointer;
    left:5%;
    border:none;  
}

#slider .slider_content .svg2{
    cursor: pointer;
    color:#999492;
    right:5%;
    border:none;
}
#slider .slider_content .svg1:hover,
#slider .slider_content .svg2:hover{
    color:#000;
}

